/* shop */
.form-shop {
    width: 50%;
}

.img-avatar {
    max-width: 140px;
}

/* result */
.result-circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.result-circle-border {
    border-radius: 100%;
    border: #6F69AC solid 4px;
    padding: 40px;
}

.result-percentage {
    color: #FD6F96;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 0 !important;
}

.result-ketepatan {
    color: #B6B3DA;
    font-weight: bold;
}

.result-score {
    background: #FFEBA1;
    color: #CE9465;
    border-radius: 16px;
    width: max-content;
}

.result-coin {
    background: #6F69AC;
    color: #FFEBA1;
    border-radius: 16px;
    width: max-content;
}

.result-score-total {
    width: max-content;
    font-weight: bold;
}
.result-info-container {
    text-align: center;
}

.result-info-container h4 {
    color: #6F69AC;
    font-weight: bold;
}

.result-info-container h3 {
    font-weight: bold;
}

/* home */
.home-card {
    background: #FFEBA1;
    border: none;
    padding: 40px !important;
}

.home-card h1 {
    margin-bottom: 0;
    color: #70471E;
}

.home-card h4 {
    margin-bottom: 0;
    color: #B8A76A;
}

.home-profile, .home-profile > div {
    min-height: 100%;
}

.avatar {
    width: 110px;
}

.avatar-profile {
    width: 140px;
}

.topic-home {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    flex-shrink: 0;
}

.topic-home-unlocked {
    background: #95DAC1;
    color: #436F5F;
}

.topic-home-locked {
    background: #FD6F96;
    color: #9E3351;
}

.testa {
    width: max-content;
}

.home-parent {
    width: 100%;
}

.home-row-2 {
    width: max-content;
    margin-top: -50px;
    margin-left: 480px;
}

.home-row-3 {
    width: max-content;
    margin-top: -100px;
}

.home-row-4 {
    width: max-content;
    margin-top: -20px;
    margin-left: -25px;
}

.home-row-5 {
    width: max-content;
    margin-top: -60px;
    margin-left: 5px;
}

.mansion {
    margin-left: -70px;
    margin-bottom: -12px;
}

.four-road {
    margin-left: -52px;
}

.fountain {
    margin-right: 200px;
}

.m180 {
    margin-top: 200px;
}

.ml75 {
    margin-left: -75px;
}

.mml20 {
    margin-left: 22.5px;
}

.m20080 {
    margin-top: 200px;
    margin-left: -55px;
}

.r90 {
    transform: rotate(90deg);
}

.r180 {
    transform: rotate(180deg);
}

.r270 {
    transform: rotate(-90deg);
}

.warehouse1 {
    margin-left: -20px;
    margin-bottom: -50px;
}

.m1055 {
    margin-top: -10px;
    margin-left: -55px;
}

.mn80 {
    margin-left: -80px;
}

.m60 {
    margin-top: 60px;
}

.m45 {
    margin-top: 45px;
}

.m90 {
    margin-top: 90px;
}

.st1 {
    margin-top: 90px;
}

.st2 {
    margin-top: 17.5px;
    margin-left: -137.5px;
}

.st3 {
    margin-top: -190px;
    margin-left: -100.5px;
}

.st4 {
    margin-left: 826.5px;
    margin-top: -188.5px;
}

.st5 {
    margin-top: -190px;
    margin-left: -140px;
}

.st6 {
    margin-top: -190px;
    margin-left: 70px;
}

.st7 {
    margin-left: 747.5px;
    transform: rotate(90deg);
    margin-top: -345px;
    z-index: -20;
}

.strumput1 {
    margin-top: -442.5px;
    margin-left: -80px;
}

.strumput2 {
    margin-top: -235px;
    margin-left: -52.5px;
}

.stroadlast {
    margin-left: 21.5px;
    margin-top: -190px;
}

.strumput4 {
    margin-top: -195px;
    margin-left: -27.5px;
}

.strumput3 {
    margin-top: -195px;
    margin-left: -157.5px;
}

.stc1 {
    margin-top: -390px;
    margin-left: 647.5px;
}

.stc2 {
    margin-top: -187.5px;
    margin-left: 280px;
}

.stc3 {
    margin-top: -180px;
    margin-left: 655px;
    z-index: 10;
}

.div1 {
    margin-top: 60px;
    margin-left: -572.5px;
}

.div2 {
    margin-top: -375px;
    margin-left: 380px;
}

/* profile */
section {
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
  }
.history {
    flex: 2;
    border-radius: 5rem;
    border-color: black;
  }

.biodata{
    width: 100%;
    align-items: flex-start;
    text-align: center;
}

.leaderboard-avatar {
    width: 70px;
}
