.full-height-sidebar {
    height: 100vh;
}

.sidebar-width {
    width: 12.5vh;
}

body {
    background-color: red;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.bottomleft {
    bottom: 0;
    left: 0;
}

.container {
    position: relative;
}
